<!doctype html>
<html lang="en">

<head>
    <title>Nice JSON formatter</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        Quoted string:
        <textarea rows="20" style="width: 100%" @input="stringUpdated" v-model="string"></textarea>
        Javascript:
        <textarea rows="20" style="width: 100%" @input="sourceUpdated" v-model="source"></textarea>
        JSON:
        <textarea rows="20" style="width: 100%">{{formatted}}</textarea>
    </div>
    <script>
        "use strict";

        const defaultValue = "{ hello: 'world' }";

        const safeEval = string => Function(`"use strict";return ${string}`)();

        const App = new Vue({
            el: "#app",
            data: {
                string: JSON.stringify(defaultValue),
                source: defaultValue,
                result: safeEval(defaultValue),
            },
            methods: {
                stringUpdated: function () {
                    this.result = safeEval(safeEval(this.string));
                    this.source = safeEval(this.string);
                },
                sourceUpdated: function () {
                    this.result = safeEval(this.source);
                    this.string = JSON.stringify(this.source);
                }
            },
            computed: {
                formatted: function () {
                    return JSON.stringify(this.result, null, 2);
                },
            },
        });
    </script>
</body>

</html>